<div class="footer">
    <p class="footer-contact">Contact info</p>
    <p class="footer-info">
        <span>example&#64;gmail.com</span>
        <span>Adress street example 10</span>
        <span>77777 City</span>
        <span>State</span>
        <span>tel. 123456789</span>
    </p>
    <div class="footer-social">
        <img src="assets/images/instagram.svg" alt="instagram">
        <img src="assets/images/facebook.svg" alt="facebook">
        <img src="assets/images/tiktok.svg" alt="tiktok">
    </div>
    <div class="footer-line"></div>
    <p class="footer-rights">&copy;2024 Brand - All rights reserved</p>
</div>