.gallery-container {
  //position: relative;
  background-color: rgba($color: #cccccc, $alpha: 0.3);
  width: 100%;
  display: flex;
  flex-direction: column;
  //height: 1500px;

  p {
    padding: 40px 20px 10px 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #4c4c4c;
    text-align: center;
  }

  .line {
    width: 170px;
    height: 1px;
    background-color: #6d6d6d;
    margin: auto
  }


  img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px #4c4c4c;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    transition: 1s linear;
  }

  .first-gallery-image {
    transform: translateX(-100%);
    opacity: 0;
  }

  .second-gallery-image {
    transform: translateX(100%);
    opacity: 0;
  }

  .slide-left {
    transform: translateX(0%);
    opacity: 1;
  }

  .slide-right {
    transform: translateX(0%);
    opacity: 1;
  }

  .gallery-button {
    padding: 30px 70px;

    button {
      width: 100%;
      padding: 20px;
      border-radius: 999px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: #ffffff;
      background-color: rgba($color: #696969, $alpha: 0.65);
    }

    .shake {
      animation: shake 0.7s linear;
    }
  }
}

@keyframes shake {
  0% { 
    transform: translate(0, 0) rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  10% { 
    transform: translate(3px, 3px) rotate(3deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  20% { 
    transform: translate(-3px, -3px) rotate(-3deg);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  30% { 
    transform: translate(3px, -3px) rotate(3deg);
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  40% { 
    transform: translate(-3px, 3px) rotate(-3deg);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  50% { 
    transform: translate(3px, 3px) rotate(3deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  60% { 
    transform: translate(-3px, -3px) rotate(-3deg);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  70% { 
    transform: translate(3px, -3px) rotate(3deg);
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  80% { 
    transform: translate(-3px, 3px) rotate(-3deg);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  90% { 
    transform: translate(3px, 3px) rotate(3deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  100% { 
    transform: translate(0, 0) rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
}
