.gallery-container {
  background-color: #222222;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;

  &-images {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    flex-wrap: wrap;

    img {
      flex: calc(50% - 14px);
      max-width: calc(50% - 14px);
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      display: block;
      margin: 0 7px 14px 7px;
      transition: 0.3s linear;
    }
  
    .left-gallery-image {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    .right-gallery-image {
      transform: translateX(100%);
      opacity: 0;
    }
  
    .slide-left {
      transform: translateX(0%);
      opacity: 1;
    }
  
    .slide-right {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .gallery-button {
    padding: 30px 70px 50px 70px;

    button {
      width: 100%;
      padding: 20px;
      border-radius: 999px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: #ffffff;
      background-color: rgba($color: #696969, $alpha: 0.65);
    }

    .shake {
      animation: shake 0.7s linear;
    }
  }
}

@keyframes shake {
  0% { 
    transform: translate(0, 0) rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  10% { 
    transform: translate(3px, 3px) rotate(3deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  20% { 
    transform: translate(-3px, -3px) rotate(-3deg);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  30% { 
    transform: translate(3px, -3px) rotate(3deg);
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  40% { 
    transform: translate(-3px, 3px) rotate(-3deg);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  50% { 
    transform: translate(3px, 3px) rotate(3deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  60% { 
    transform: translate(-3px, -3px) rotate(-3deg);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  70% { 
    transform: translate(3px, -3px) rotate(3deg);
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  80% { 
    transform: translate(-3px, 3px) rotate(-3deg);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  90% { 
    transform: translate(3px, 3px) rotate(3deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
  100% { 
    transform: translate(0, 0) rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Increased blur */
  }
}
