<div class="gallery-container">
  <p>Galerie</p>
  <div class="line"></div>
  <img
    #firstGalleryImage
    class="first-gallery-image"
    src="assets/images/gallery1.png"
    alt="gallery1"
  />
  <img
    #secondGalleryImage
    class="second-gallery-image"
    src="assets/images/gallery2.png"
    alt="gallery2"
  />
  <div class="gallery-button">
    <button #galleryButton class="gallery-button" (click)="openGalleryModal()">
      Galerie öffnen
    </button>
  </div>
</div>
<app-gallery-modal *ngIf="isGalleryModalOpened" (closedModal)="closeGalleryModal()"></app-gallery-modal>
