<header>
  <div class="button" [class.mobile-menu-opened]="isMobileMenuOpened">
    <img
      [src]="
        isMobileMenuOpened
          ? 'assets/images/contact-white.svg'
          : 'assets/images/contact.svg'
      "
      alt="contact"
    />
  </div>
  <img class="logo" src="assets/images/logo.png" alt="logo" />
  <div
    class="button"
    [class.mobile-menu-opened]="isMobileMenuOpened"
    (click)="openCloseMobileMenu()"
  >
    <div class="button-bars">
      <span
        class="button-bar button-bar-top"
        [class.button-bar-top-active]="isMobileMenuOpened"
      ></span>
      <span
        class="button-bar button-bar-middle"
        [class.button-bar-middle-active]="isMobileMenuOpened"
      ></span>
      <span
        class="button-bar button-bar-bottom"
        [class.button-bar-bottom-active]="isMobileMenuOpened"
      ></span>
    </div>
  </div>
</header>
<app-mobile-menu
  *ngIf="isMobileMenuOpened"
  (closedMobileMenu)="closeMobileMenu()"
></app-mobile-menu>

<!-- [@openClose]="isMobileMenuOpened ? 'open' : 'closed'" -->
