@import '../../variables.scss';
@import '../../responsive.scss';

// .material-container {
//     padding: 50px 0px 0px 0px;
//     display: flex;
//     background-color: $background-primary-2;

//     .material-image-container {
//         width: 16.6%;
//         height: 620px;
//         overflow: hidden;
//         transition: width 0.5s;
//         position: relative;

//         &:not(:last-child) {
//             margin-right: 2px;
//         }

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }

//         span {
//             font-size: 40px;
//             font-family: $font-primary-2;
//             font-weight: 500;
//             color: #ffffff;
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             text-align: center;
//         }
//     }
// }

.material-container {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: $background-primary-2;

    @include md {
        padding: 0;
        background-color: $background-dark-1;
    }

    &-header {
        position: relative;
        display: none;

        @include md {
            display: block;
        }

        h2 {
            color: white;
            font-family: $font-primary-2;
            text-align: center;
            font-size: 27px;
            font-weight: 500;
            padding: 80px 0 160px 0;
        }

        &-aurora-1 {
            position: absolute;
            bottom: 0;
            left: -350px;
            width: 300px;
            height: 300px;
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            border-radius: 50%;
            filter: blur(50px);
            opacity: 0.3;
            transition: left 500ms ease-out;
        }

        &-aurora-2 {
            position: absolute;
            bottom: 0;
            right: -350px;
            width: 300px;
            height: 300px;
            background-image: linear-gradient(120deg, #64b3f4 0%, #c2e59c 100%);
            border-radius: 50%;
            filter: blur(50px);
            opacity: 0.3;
            transition: right 500ms ease-out;
        }
    }

    .material-image-container { 
        height: 220px;
        overflow: hidden;
        position: relative;

        @include xxs {
            height: 270px;
        }

        @include xs {
            height: 300px;
        }

        @include sm {
            height: 400px;
        }

       .material-background {
        width: 100%;
       }

       .material-after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 70%;
        object-fit: contain;
        transition: opacity 1000ms linear;

        @include xxs {
            width: 55%;
        }

        @include sm {
            width: 50%;
        }
       }
    }

    .material-type {
        text-align: center;
        padding: 10px 0;
        font-family: $font-primary-2;
        font-weight: 700;
        color: #b4b0b0;

        @include md {
            padding: 20px 0;
            font-family: $font-primary-3;
            font-size: 35px;
            color: $text-primary-3;
        }
    }
}

.material-mobile-material-header {
    padding: 50px 20px 0 20px;
    text-align: center;
    font-family: $font-primary-1;
    font-size: 24px;
    color: $title-primary-1;
    font-weight: 400;
    background-color: $background-primary-2;

    @include md {
        display: none;
    }
}
