<div class="overlay">
    <ul>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option1>
                <li (click)="scrollToAboutUs()">About us</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option2>
                <li (click)="scrollToGallery()">Gallery</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option3>
                <li>Pricing</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option4>
                <li>Contact</li>
                <div class="line"></div>
            </div>
        </div>
    </ul>
    <div class="footer-wrapper">
        <div class="footer" #footer>
            <div class="footer-social">
                <img src="assets/images/instagram.svg" alt="instagram">                
                <img src="assets/images/facebook.svg" alt="facebook">
            </div>
            <p>&copy; 2024 Brand Name</p>
        </div>
    </div>
</div>