<div class="overlay">
    <ul>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option1>
                <li>Option 1</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option2>
                <li>Option 1</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option3>
                <li>Option 1</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option4>
                <li>Option 1</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option5>
                <li>Option 1</li>
                <div class="line"></div>
            </div>
        </div>
        <div class="list-item-wrapper">
            <div class="list-item-to-animate" #option6>
                <li>Option 1</li>
                <div class="line"></div>
            </div>
        </div>
    </ul>
    <div class="footer-wrapper">
        <div class="footer" #footer>
            <p>Usage rights</p>
            <p>&copy; 2024 Brand Name</p>
        </div>
    </div>
</div>