<div class="welcome-screen">
  <video
    src="assets/images/welcome.mp4"
    [autoplay]="true"
    [muted]="true"
    [loop]="true"
  ></video>
  <p class="welcome-screen-text">Wände der nächsten Ebene</p>
  <div class="scroll-down"></div>
  <div class="marquee">
    <p>
      Text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;
      text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;
      text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;
      text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;
      text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;text&nbsp;&nbsp;&nbsp;
      text&nbsp;&nbsp;&nbsp;text
    </p>
  </div>
</div>
