<div class="pricing-container">
  <div #pricingTextWrapper class="hidden">
    <p #pricingText class="pricing-intro-text">
        Die neue Maschine zum Drucken von Bildern an der Wand ist ein hochmodernes
        Gerät, das das Drucken von hochwertigen Bildern, Wandgemälden und Designs
        direkt auf vertikale Oberflächen wie Wände ermöglicht.
      </p>
  </div>
  <div class="pricing" #pricing>
    <img #bigLines class="pricing-big-lines" src="assets/images/lines.svg" alt="lines">
    <img #smallLines class="pricing-small-lines" src="assets/images/lines.svg" alt="lines">
    <h2>Price</h2>
    <p>Preise je nach bedruckter Fläche</p>
    <app-price-tag
      [priceName]="'Klein'"
      [priceValue]="'100'"
      [printingSurficeFrom]="'0'"
      [printingSurficeTo]="'0.5'"
      (clicked)="scrollToCalculator()"
    ></app-price-tag>
    <app-price-tag
      [priceName]="'Mittel'"
      [priceValue]="'200'"
      [printingSurficeFrom]="'0.5'"
      [printingSurficeTo]="'1.5'"
      (clicked)="scrollToCalculator()"
    ></app-price-tag>
    <app-price-tag
      [priceName]="'Groß'"
      [priceValue]="'300'"
      [printingSurficeFrom]="'1.5'"
      [printingSurficeTo]="'2.5'"
      (clicked)="scrollToCalculator()"
    ></app-price-tag>
  </div>
  <div class="pricing-calculator">
    <p class="pricing-calculator-intro">Berechne den Preis für dich selbst</p>
    <div #calculator class="pricing-calculator-wrapper">
      <app-price-calculator></app-price-calculator>
    </div>
    <img class="pricing-calculator-big-lines" src="assets/images/lines.svg" alt="lines">
  </div>
</div>
