$background-primary-1: #fcfcfc;
$background-primary-2: #f5f5f5;
$background-primary-3: rgba($color: #cccccc, $alpha: 0.3);
$background-dark-1: #252525;

$title-primary-1: #454545;

$text-primary-1: #000000;

$font-primary-1: 'Montserrat', sans-serif;
$font-primary-2: 'Quicksand', sans-serif;