<div class="about-us">
  <h2>Über uns</h2>
  <p>
    Unser Unternehmen spezialisiert sich auf das Bedrucken von Wänden mit
    modernster Maschinentechnologie und verwandelt Räume mit Präzision und
    Kreativität. Wir bringen Ihre Visionen zum Leben und bieten eine nahtlose
    und innovative Lösung für atemberaubende Wanddesigns.
  </p>
</div>
<div class="images-container">
  <img
    class="non-positioned-image"
    src="assets/images/about-us-2.png"
    alt="image-2"
  />
  <img
    class="positioned-image"
    src="assets/images/about-us-1.png"
    alt="image-1"
  />
</div>
<div class="icons-container">
  <div class="row row-1">
    <div class="icon-container">
        <img class="icon-wide" src="assets/images/wide.svg" alt="wide" />
        <span class="icon-wide-desc">Ausgedehnt</span>
    </div>
    <div class="icon-container">
        <img class="icon-certificate" src="assets/images/certificate.svg" alt="certificate" />
        <span class="icon-certificate-desc">Exzellente Bildqualität</span>
    </div>
    <div class="icon-container">
        <img class="icon-lock" src="assets/images/lock.svg" alt="lock" />
        <span class="icon-lock-desc">Strapazierfähig</span>
    </div>
  </div>
  <div class="row row-2">
    <div class="icon-container">
        <img class="icon-heart" src="assets/images/heart.svg" alt="heart" />
        <span class="icon-heart-desc">Beständig</span>
    </div>
    <div class="icon-container">
        <img class="icon-sun" src="assets/images/sun.svg" alt="sun" />
        <span class="icon-sun-desc">Schnelltrocknend</span>
    </div>
  </div>
</div>
<div class="contact-button">
    <button>Contact us</button>
</div>
