<div class="price-calculator">
    <div class="price-calculator-grey-part"></div>
    <div class="price-calculator-inputs">
        <p class="price-calculator-inputs-text">Fläche in Quadratmetern</p>
        <p class="price-calculator-inputs-value"> {{ inputRangeValue === null ? '0 m²' : inputRangeValue + ' m²' }}</p>
        <input #rangeInput [(ngModel)]="inputRangeValue" class="progress" (input)="onInput()" type="range" min="0" max="25">
        <p class="price-calculator-inputs-or">or</p>
        <input (focus)="onFocus($event)" (input)="onInput(); validateInput($event);" [(ngModel)]="inputRangeValue" type="number" placeholder="Schreiben Sie hier...">
        <p class="price-calculator-inputs-error-message" *ngIf="showMax">25m² is max value</p>
    </div>
    <div class="price-calculator-result">
        <p class="price-calculator-result-cost">Kosten</p>
        <p class="price-calculator-result-amount">{{ result + '$' }}</p>
        <div class="price-calculator-result-button">
            <button (click)="scrollToForm()">Reservierung machen</button>
        </div>
    </div>
</div>