@import '../../responsive.scss';

.gallery-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.9);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery {
    width: 100%;
    height: 400px;

    @include xxs {
      height: 500px;
    }

    @include xs {
      height: 550px;
    }

    .gallery-image{
      position: relative;
      z-index: 11;
      width: 95%;
      height: 400px;
      margin: auto;
      overflow: hidden;

      @include xxs {
        height: 500px;
      }

      @include xs {
        height: 550px;
      }
    
      img {
        width: 100%;
        height: 400px;
        object-fit: contain;

        @include xxs {
          height: 500px;
        }

        @include xs {
          height: 550px;
        }
      }
    }
  }
}
